<!DOCTYPE html>
<html class="" lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>NewBanker Passport</title>
  <link rel="stylesheet" href="/css/element.css">
  <link rel="stylesheet" href="/css/style.css" />
  {% block css %}{% endblock %}
</head>
<body>

{% block content %}{% endblock %}

<script src="/js/vue.min.js"></script>
<script src="/js/element.js"></script>
<script src="/js/test.js"></script>
{% block js %}{% endblock %}
</body>
</html>



